body {
  font-size: 18px;
  font-family: Helvetica;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}


span,
h1,
h4,
li {
  color: white;
}

h1 {
  font-size: 2rem;
  padding-left: 3rem;
  padding-bottom: 2rem;
}

h4 {
  font-size: 1rem;
  padding-top: 2rem;
  padding-left: 3rem;
  padding-bottom: 0.25rem;
}

.logo {
  background-color: black;
}

.logo span {
  margin: 0.66rem 0.5rem;
  align-items: center;
}

.logo .container {
  display: flex;
  align-items: center;
}

.logo img{
  height: 1.5rem;
  padding: 0.66rem 0.5rem 0.66rem 0.5rem;
}

.banner {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  height: 25rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.intro {
  width: 20rem;
  height: 9rem;
  background-color: black;
  align-items: center;
}

nav {
  background-color: firebrick;
}

nav .container {
  display: flex;
}

li {
  list-style: none;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

ul {
  justify-content: space-between;
}

.container .products {
  display: flex;
}

.products {
  justify-content: space-around;
}

.image img {
  width: 9rem;
  height: 9rem;
  padding: 2rem;
}

.product {
  border: 4px solid black;
  width: 30%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.description {
  background-color: black;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.contact {
  background-color: black;
  padding: 1rem 0 1rem 2rem;
}

.copyright {
  background-color: black;
  text-align: left;
  width: 100%
  height: 5rem;
}
